.top-container{
    
}
.form-wrapper{
    width: 90%;
   border: none;
    background-color: #d9d9d9;
    margin: 20px auto;
   border-radius: 15px;
   text-align: center;
   box-shadow: 0px 6px 8px rgb(0, 0, 0,0.2);
}
.form-wrapper h1{
    color: #1C5FB7;
   padding: 10px;
}
.Top-select-wrapper{
    display: flex;
    justify-content: center;
}
input{
    width: 50%;
    padding: 8px;
    margin: 10px;
    border-radius: 8px;

}
.specify-other-type-wrapper{
    display: inline-block;
    width: 50%;
}
.select-input-wrapper{
    display: flex;
    justify-content: end;
    display: inline-block;
    width: 25%;
}
#PropertySelect{
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    width: 25%;
}
#regsterBtn{
    width: 20%;
    padding: 5px 8px;
    border-radius: 8px;
    background-color:  #1C5FB7;
    color: white;
    font-weight: bold;
    margin: 10px;
    border: none;
}
#regsterBtn:hover{
    background: gray;
}
header div img{
    width: 90px;
}
header div{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.file-input-wraper{
    width: 50%;
    border: 1px dashed blue; 
    margin: 10px auto;
    border-radius: 15px;
}
.file-input-wraper #photo-input{
    border-radius: 15px;
    padding: 10px;
}