#logo-img{
    width: 60px;
}

body{
    font-family: serif;
}
h3{
    font-weight: 800;
    font-family: serif;
}
#user-profileImage {
    width: 150px;
    height: 150px; /* 🔥 Add this line */
    background-image: url('/resources/images/gettyimages-1317804578-612x612.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px auto;
}
.device-images{
    
}


